@charset 'UTF-8';
@use "../inc/" as inc;
/*
p-character
-----------------------------------------------------*/
.p-character {
	&__box {
		// @include inc.sizing(margin-bottom, tab, 160px, sp, 50px);
		@include inc.sizing(margin-bottom, tab, 160px, sp, 80px);
		@include inc.mq(tabs) {
			//display: flex;
			//justify-content: space-between;
		}
		&__img {
			@include inc.mq(tabs) {
				width: 32%;
			}
		}
		&__txt {
			@include inc.mq(tabs) {
				width: 100%;
			}
		}
		h3 {
			@include inc.sizing(font-size, tab, 35px, sp, 23px);
			font-weight: inc.$Bold;
			@include inc.sizing(margin-bottom, tab, 30px, sp, 20px);
			span {
				display: block;
				@include inc.sizing(font-size, tab, 15px, sp, 13px);
				font-weight: inc.$Regular;
				color: inc.$color-blk;
			}
		}
		h4 {
			display: inline-block;
		}
		&__lifetime,
		&__txt {
			@include inc.sizing(font-size, tab, 14px, sp, 12px);
			color: inc.$color-blk;
			@include inc.sizing(margin-bottom, tab, 35px, sp, 23px);
		}
		&__body {
			figure,
			.wp-block-image {
				position: static !important;
				margin-bottom: 1.6em;
				@include inc.mq(tabs) {
					width: 33%;
				}
				figcaption,
				.wp-element-caption {
					position: static !important;
					@include inc.sizing(font-size, tab, 15px, sp, 13px);
					padding-top: .5em;
				}
			}
		}
	}
}
