@charset 'UTF-8';
@use "../inc/" as inc;


body.page-template-top {
	.l-breadcrumb {
		display: none;
	}
	.l-main > .l-wrapper {
		max-width: 100% !important;
		width: 100% !important;
	}
}


/*
p-home
-----------------------------------------------------*/
.p-home {
	&__kv {
		position: relative;
		overflow: hidden;
		width: 100vw;
		height: 100svh;
		top: 0;
		padding: 0;
		@include inc.mq(lap) {
			height: 113.63svh;
		}

		&__logo {
			position: absolute;
			width: 77.28%;
			top: 37.63svh;
			left: 50%;
			transform: translateX(-50%);
			@include inc.mq(lap) {
				width: 44.451%;
				top: 20svh;
			}
			// アニメーション
			opacity: 0;
			// transform: translate(0);
			animation-name: logo-fadeIn;
			animation-delay: 1s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			/* フェードインアニメーション */
			@keyframes logo-fadeIn {
				0% {
				}
				100% {
					opacity: 1;
					// transform: translate(0);
				}
			}
		}
		&__takedabak {
			position: absolute;
			width: 14.032%;
			bottom: 34vw;
			left: 2.133%;
			transform: rotate(11deg);
			filter: blur(1px);
			@include inc.mq(lap) {
				width: 10.813%;
				bottom: 480px;
				left: .7480%;
				filter: blur(2px);
			}
			// アニメーション
			opacity: 0;
			transform: translateX(-50px);
			animation-name: takeda-fadeIn;
			animation-delay: 3.5s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			/* フェードインアニメーション */
			@keyframes takeda-fadeIn {
				0% {
				}
				100% {
					opacity: 1;
					transform: translate(0);
				}
			}
		}
		&__uesugibak {
			position: absolute;
			width: 10.145%;
			top: 2.77%;
			right: 30.4%;
			transform: rotate(-16deg);
			filter: blur(1px);
			@include inc.mq(lap) {
				width: 9.401%;
				top: 20px;
				right: 6.951%;
				filter: blur(2px);
			}
			// アニメーション
			opacity: 0;
			transform: translateX(50px);
			animation-name: uesugi-fadeIn;
			animation-delay: 3.5s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			/* フェードインアニメーション */
			@keyframes uesugi-fadeIn {
				0% {
				}
				100% {
					opacity: 1;
					transform: translate(0);
				}
			}
		}
		&__takeda {
			position: absolute;
			width: 43.26%;
			bottom: 0;
			left: -1.86%;
			@include inc.mq(lap) {
				width: 38.77%;
				bottom: 0;
				left: -5.86%;
			}
			// アニメーション
			opacity: 0;
			transform: translateX(-100px);
			animation-name: takeda-fadeIn;
			animation-delay: 3s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			/* フェードインアニメーション */
			@keyframes takeda-fadeIn {
				0% {
				}
				100% {
					opacity: 1;
					transform: translate(0);
				}
			}
		}
		&__uesugi {
			position: absolute;
			width: 56.50%;
			top: 6.5%;
			right: -5.33%;
			@include inc.mq(lap) {
				width: 60.459%;
				top: 119px;
				right: -29.655vw;
			}
			// アニメーション
			opacity: 0;
			transform: translateX(100px);
			animation-name: takeda-fadeIn;
			animation-delay: 3s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			/* フェードインアニメーション */
			@keyframes takeda-fadeIn {
				0% {
				}
				100% {
					opacity: 1;
					transform: translate(0);
				}
			}
		}
		&__movie {
			position: absolute;
			width: 54.90%;
			top: 51.91svh;
			left: 50%;
			transform: translateX(-50%);
			@include inc.mq(lap) {
				width: 27.423%;
				top: 48.18svh;
			}
			// アニメーション
			opacity: 0;
			// transform: translateX(100px);
			animation-name: movie-fadeIn;
			animation-delay: 4.5s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			/* フェードインアニメーション */
			@keyframes movie-fadeIn {
				0% {
				}
				100% {
					opacity: 1;
					// transform: translate(0);
				}
			}
			a {
				display: block;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					border: .8em solid transparent;
					border-left: 1.5em solid inc.$color-wht;
					box-sizing: border-box;
					opacity: .67;
					top: 42%;
					left: 45%;
					transition: all 0.3s ease;
					@include inc.mq(lap) {
						border: 1.6em solid transparent;
						border-left: 3em solid inc.$color-wht;
						left: 47%;
					}
				}
				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
			img {
				display: block;
				border: 2px solid #000;
				border-radius: 15px;
				@include inc.mq(lap) {
					border: 6px solid #000;
				}
			}
		}
		&__kawanakajima {
			position: absolute;
			display: flex;
			overflow: hidden;
			width: 100vw;
			bottom: 0;
			left: 0;
			@include inc.mq(tabs) {
				bottom: 13.63vh;
			}
			ul {
				display: flex;
				align-items: center;
				animation: loop infinite linear 10s both;
				li {
					width: 100vw;
					margin: 0 .5em;
					@include inc.mq(tabs) {
						width: 50vw;
						margin: 0 2em;
					}
					img {
						display: block;
					}
				}
			}
		}
	}
@keyframes loop {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
	&__battles {
		@include inc.sizing(padding-top, lap, 155px, sp, 105px);
		background: url("../img/home/wave01.png") no-repeat right -24.8% top 10%;
		background-size: 174px 42px;
		background-blend-mode: multiply;
		.l-wrapper {
			max-width: 1344px;
			h2 {
				text-align: center;
				@include inc.sizing(margin-bottom, lap, 15px, sp, 10px);
				@include inc.sizing(font-size, lap, 70px, sp, 28px);
				font-weight: inc.$Bold;
				color: inc.$color-main;
			}
			ul {
				border-top: 1px solid inc.$color-line;
				margin: 0;
				padding: 0;
				li {
					border-bottom: 1px solid inc.$color-line;
					a {
						display: block;
						padding: 1rem 0;
						font-weight: inc.$Semibold;
						@include inc.mq(lap) {
							text-align: center;
						}
						img {
							vertical-align: middle;
							@include inc.sizing(width, lap, 150px, sp, 55px);
							@include inc.sizing(border-radius, lap, 20px, sp, 6px);
							font-weight: inc.$Semibold;
							&.l-sp {
								display: inline-block;
								margin-right: 10px;
								@include inc.mq(lap) {
									display: none;
									margin-right: 0;
								}
							}
							&.l-pc {
								display: none;
								@include inc.mq(lap) {
									display: inline-block;
									margin: 0 21px;
								}
							}
						}
						span {
							display: inline-block;
							vertical-align: middle;
							@include inc.sizing(font-size, lap, 45px, sp, 19px);
							&.l-sp {
								display: inline-block;
								@include inc.mq(lap) {
									display: none;
								}
							}
							&.l-pc {
								display: none;
								@include inc.mq(lap) {
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
	}

	&__tour {
		@include inc.sizing(padding-top, tab, 155px, sp, 82px);
		background: url("../img/home/wave02.png") no-repeat left -10.13% top 5%;
		background-size: 110px 81px;
		background-blend-mode: multiply;
		.l-wrapper {
			max-width: 1344px;
			@include inc.mq(tab) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		&__txt {
			@include inc.mq(tab) {
				width: 48%;
			}
		}
		&__img {
			@include inc.sizing(margin-top, tab, 0px, sp, 40px);
			@include inc.mq(tab) {
				width: 50%;
			}
		}
		h2 {
			@include inc.sizing(margin-bottom, tab, 15px, sp, 10px);
			@include inc.sizing(font-size, tab, 55px, sp, 24px);
			font-weight: inc.$Bold;
		}
		p {
			@include inc.sizing(font-size, tabs, 16px, sp, 13px);
			line-height: 2;
			@include inc.sizing(margin-bottom, tab, 16px, sp, 13px);
			color: inc.$color-blk;
		}
		&__nav {
			@include inc.sizing(margin-bottom, tab, 22px, sp, 20px);
			ul {
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					margin-bottom: 3px;
					span {
						@include inc.sizing(font-size, tabs, 16px, sp, 10px);
					}
				}
			}
		}
		h3 {
			@include inc.sizing(margin-bottom, tab, 16px, sp, 10px);
			@include inc.sizing(font-size, tabs, 16px, sp, 13px);
			font-weight: inc.$Bold;
			color: inc.$color-blk;
		}
		&__categories {
			ul {
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					margin-right: .5em;
					line-height: 1.92;
					@include inc.mq(tab) {
						line-height: 2;
					}
					a {
						@include inc.sizing(font-size, tab, 16px, sp, 13px);
					}
				}
			}
		}
	}

	&__special {
		@include inc.sizing(padding-top, tab, 160px, sp, 73px);
		@include inc.sizing(padding-bottom, tab, 130px, sp, 40px);
		.l-wrapper {
			max-width: 1344px;
		}
		h2 {
			@include inc.sizing(margin-bottom, tab, 35px, sp, 26px);
			@include inc.sizing(font-size, tab, 60px, sp, 28px);
			font-weight: inc.$Bold;
		}
		ul li {
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			a,
			figure,
			img {
				display: block;
			}
			figcaption {
				h3 {
					@include inc.sizing(font-size, tab, 20px, sp, 16px);
					@include inc.sizing(margin-bottom, tab, 19px, sp, 0px);
					font-weight: inc.$Extrabold;
				}
				p {
					margin-bottom: 0;
				}
			}
			a[target="_blank"] {
				h3 span {
					padding-right: 1.3em;
					background: url("../img/common/icn_link.svg") no-repeat 100% .4em;
				}
			}
			h3 {
				min-height: 2.3em;
				font-size: 1.529rem;
				line-height: 1.15;
				margin-bottom: 0 !important;
				display: flex;
				flex-wrap: wrap;
				// flex-direction: column;
				align-items: center;
			}
			img {
				margin-bottom: .882rem;
				aspect-ratio: auto;
			}
			p {
				margin: 0;
				@include inc.sizing(font-size, tab, 16px, sp, 13px);
				line-height: 1.4375;
				color: inc.$color-blk;
				@include inc.mq(tab) {
					line-height: 1.4375;
				}
			}
		}
	}
	&__links {
		@include inc.sizing(padding-top, tab, 60px, sp, 30px);
		@include inc.sizing(padding-bottom, tab, 70px, sp, 35px);
		.l-wrapper {
			max-width: 800px;
			h2 {
				text-align: center;
			}
			ul {
				margin: 0;
				padding: 0;
				@include inc.mq(tab) {
					display: flex;
					flex-wrap: wrap;
					gap: 20px 2.5%;
				}
				li {
					margin-bottom: 20px;
					@include inc.mq(tab) {
						width: calc( 95% / 3);
						margin-bottom: 0;
					}
					a {
						display: block;
						img {
							display: block;
							max-width: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}

}
