@charset 'UTF-8';
@use "../inc/" as inc;
/*
p-tour
-----------------------------------------------------*/
.p-tour {
	.c-thumb04 {
		@include inc.sizing(margin-top, tab, 43px, sp, 40px);
		a {
			color: inc.$color-blk !important;
			@include inc.sizing(font-size, tab, 16px, sp, 13px);
			img {
				margin-bottom: 1em;
			}
		}
	}
	&__map {
		&__icn {
			margin-top: 1em;
			li {
				display: inline-block;
				@include inc.sizing(font-size, tab, 20px, sp, 14px);
				font-weight: inc.$Bold;
				margin-right: 2em;

				img {
					display: inline-block;
					@include inc.sizing(width, tab, 40px, sp, 24px);
				}
				span {
					margin-left: 1em;
				}
			}
		}
	}

}
