@charset 'UTF-8';
@use "../inc/" as inc;

/*
l-header
-----------------------------------------------------*/
.l-header {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 1em;
	z-index: 1000;
	@include inc.sizingRem(font-size, tab, 32px, sp, 16px);
	&__logo {
		max-width: 102px;
		@include inc.mq(tab) {
			max-width: 162px;
		}
	}
	&__nagano {
		display: none;
		@include inc.mq(tab) {
			display: block;
			white-space: nowrap;
			a {
				display: flex;
				span {
					align-items: center;
					margin-left: .3em;
					@include inc.sizingRem(font-size, tab, 15px, sp, 13px);
					font-weight: inc.$Extrabold;
				}
			}
		}
	}
}
body.home .l-header {
	position: absolute;
	// アニメーション
	opacity: 0;
	//transform: translateY(-100px);
	animation-name: header-fadeIn;
	animation-delay: 2.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	/* フェードインアニメーション */
	@keyframes header-fadeIn {
		0% {
		}
		100% {
			opacity: 1;
			//transform: translateY(0);
		}
	}
}

.l-hamburger {
	height: 12px;
	position: fixed;
	right: 15px;
	top: 28px;
	width: 48px;
	height: 48px;
	background: inc.$color-main;
	border-radius: 48px;
	z-index: 99;
	@include inc.mq(tab) {
		display: none;
	}
	&__line {
		background: inc.$color-wht;
		display: block;
		width: 20px;
		height: 1px;
		position: absolute;
		left: 14px;
		transition: transform .3s;
		// width: 100%;
		&__top {
			top: 18px;
			&.active {
				top: 24px;
				transform: rotate(45deg);
				background: #f4f6f7;
			}
		}
		&__cnt {
			top: 23.5px;
			&.active {
				background-color: transparent;
			}
		}
		&__btm {
			bottom: 18px;
			&.active {
				bottom: 23px;
				transform: rotate(135deg);
				background: #f4f6f7;
			}
		}
	}
	&__title {
		font-size: .6rem;
		font-weight: 600;
		position: absolute;
		bottom: -24px;
		color: #000;
		&_active {
			color:#f4f6f7;
		}
	}
}

.l-nav {
	background: inc.$color-main;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 112px);
	height: 100vh;
	padding: 28px 56px;
	z-index: 98;
	background-image: url("../img/common/takeda.png"), url("../img/common/uesugi.png");
	background-repeat: no-repeat;
	background-position: left -7px bottom 10px, right -61px bottom 52px;
	background-size: 112px 119px, 153px 142px;
	@include inc.mq(tab) {
		background: transparent;
		display: block;
		position: static;
		max-width: 950px;
		height: auto;
		padding: 0;
	}
	&__wrap {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: auto;
		@include inc.mq(tab) {
			position: static;
			width: auto;
			height: auto;
		}
		ul {
			margin: 0;
			padding: 0;
			@include inc.mq(tab) {
				display: flex;
				width: 100%;
				justify-content: center;
			}
			& > li {
				margin: 0;
				padding: 0;
				// @include inc.mq(tab) {
				// 	margin: 0 1.1em;
				// }
				& > a {
					position: relative;
					display: block;
					color: inc.$color-wht;
					font-size: 20px;
					//@include inc.sizingRem(font-size, tab, 20px, sp, 14px);
					font-weight: inc.$Extrabold;
					transition: .2s;
					padding: .5em 0;
					@include inc.mq(tab) {
						color: inc.$color-main;
						font-size: 15px;
						padding: .5em .4em 1.75em;
						transition: all .3s;
						&:hover {
							ul {
								display: block;
							}
						}
					}
					@include inc.mq(lap) {
						font-size: 20px;
						padding: .5em .8em 1.75em;
					}
					&:before,
					&:after {
						display: none;
						@include inc.mq(tab) {
							display: block;
							content: "";
							position: absolute;
							margin: auto;
						}
					}
					&:after {
						width: 9px;
						height: 9px;
						right: 0;
						bottom: 1em;
						left: 0;
						border-radius: 9px;
						background: transparent;
						transition: all .3s;
						opacity: 1;
					}
					&:hover:after {
						background: inc.$color-main;
						opacity: .5;
					}
				}
				&:has(dl) {
					position: relative;
					display: block;
					margin: 0;
					margin-bottom: .3em;
					@include inc.mq(tab) {
						margin-left: 0;
					}
					dl {
						display: block;
						@include inc.mq(tab) {
							display: none;
							visibility: hidden;
							opacity: 0;
							transition: all .3s;
						}
					}
					a {
						padding-right: 1.5em;
						&:before {
							left: calc(100% - 5px);
							top: 1.1em;
							right: .9em;
							left: auto;
							width: 6px;
							height: 6px;
							border-top: 2px solid inc.$color-main;
							border-right: 2px solid inc.$color-main;
							transform: rotate(135deg);
						}
					}
					&:hover {
						dl {
							display: block;
							visibility: visible;
							opacity: 1;
							transition: all .3s;
						}
					}
				}
				dl {
					@include inc.mq(tab) {
						position: absolute;
						left: 5%;
						top: 100%;
						z-index: 4;
						width: 424px;
						background: #F1E8D0;
						padding: 8px 29px;
						box-shadow: 0 3px 24px reba(0,0,0,.24);
					}

					& > a {
						display: block;
						@include inc.sizingRem(font-size, tab, 17px, sp, 14px);
						font-weight: inc.$Semibold;
						transition: .2s;
						padding: .5em 0 .5em 2.142em;
						color: inc.$color-wht;
						@include inc.mq(tab) {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding: 16px 0;
							color: inc.$color-main;
						}
						img {
							max-width: 100%;
							height: auto;
							vertical-align: bottom;
						}
						&:hover {
						// background: inc.$color-line;
							@include inc.mq(tab) {
								color: inc.$color-hover;
							}
						}
						&:not(:last-of-type) {
							@include inc.mq(tabs) {
								border-bottom: 1px solid inc.$color-line;
							}
						}
					}
					dt {
						display: none;
						@include inc.mq(tab) {
							display: block;
							overflow: hidden;
							width: 17.25%;
							margin-right: 1em;
						}
					}
					dd {
						@include inc.mq(tab) {
							width: 78%;
						}
					}
				}
			}
		}
	}
}


body.page-template-three-d,
body.page-template-timeline,
body.page-template-illusts,
body.page-template-illusts,
body.page-template-illusts01,
body.page-template-illusts02,
body.page-template-illusts03,
body.page-template-illusts04,
body.page-template-illusts05,
// body.page-template-character,
body.single-character,
body.post-type-archive-charactercharacter,
body.tax-character_cat,
body.page-template-story {
	.l-header {
		ul li:nth-child(2) a:after {
			background: inc.$color-main;
			opacity: 1;
		}
	}
}
body.home {
	.l-header {
		ul li:nth-child(1) a:after {
			background: inc.$color-main;
			opacity: 1;
		}
	}
}
body.single-walk,
body.single-tour,
body.post-type-archive-tour,
body.tax-tour_cat {
	.l-header {
		ul li:nth-child(3) a:after {
			background: inc.$color-main;
			opacity: 1;
		}
	}
}
body.single-digital,
body.post-type-archive-digital,
body.tax-digital_cat {
	.l-header {
		ul li:nth-child(4) a:after {
			background: inc.$color-main;
			opacity: 1;
		}
	}
}body.single-events,
body.post-type-archive-events,
body.tax-events_cat,
body.events {
	.l-header {
		ul li:nth-child(5) a:after {
			background: inc.$color-main;
			opacity: 1;
		}
	}
}
body.tourism {
	.l-header {
		ul li:nth-child(6) a:after {
			background: inc.$color-main;
			opacity: 1;
		}
	}
}
