@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-section
-----------------------------------------------------*/
.l-sp {
	display: block;
	@include inc.mq(tabs) {
		display: none;
	}
}
.l-pc {
	display: none;
	@include inc.mq(tabs) {
		display: block;
	}
}


