@charset 'UTF-8';
@use "../inc/" as inc;

/*
c-single
-----------------------------------------------------*/
.c-single {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	@include inc.sizing(margin-bottom, tab, 162px, sp, 66px);
	&__body,
	&__block,
	&__thumb,
	&__box,
	&__detail,
	&__root,
	&__coursemap {
		// @include inc.sizing(padding-bottom, tab, 96px, sp, 48px);
		@include inc.sizing(margin-bottom, tab, 80px, sp, 40px);
		figure,
		figcaption {
			position: static !important;
		}

	}
	&__block {
		h2 {
			font-weight: bold;
			@include inc.sizing(margin-bottom, tab, 32px, sp, 20px);
		}
		h3 {
			line-height: 1.8;
			font-weight: bold;
			@include inc.sizing(margin-bottom, tab, 28px, sp, 18px);
		}
		h4 {
			line-height: 1.8;
			font-weight: bold;
			@include inc.sizing(margin-bottom, tab, 24px, sp, 16px);
		}
		img {
			max-width: 100%;
			margin: 0 auto;
			@include inc.sizing(margin-top, tab, 32px, sp, 16px);
			@include inc.sizing(margin-bottom, tab, 32px, sp, 16px);
		}
		ul {
			padding-left: 1.2rem;
			li {
				list-style-type: disc;
				line-height: 1.8;
				& + li {
					margin-top: 1rem;
				}
			}
		}
		p + h2,
		img + h2,
		ul + h2 {
			margin-top: 4rem;
		}
		p + h3,
		img + h3,
		ul + h3 {
			margin-top: 3rem;
		}
		p + h4,
		img + h4,
		ul + h4 {
			margin-top: 2rem;
		}
		// & > img {
		// 	width: 100%;
		// }
		&.-visual {
			figure {
				img {
					width: 100%;
					margin-bottom: 0 !important;
				}
				figcaption > p {
					@include inc.sizing(font-size, tab, 13px, sp, 13px);
					line-height: 1.5 !important;
					padding: 8px;
					text-align: center;
				}
			}
		}
	}
	&__thumb {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem 4%;
		figure {
			@include inc.mq(tabs) {
				width: 48%;
			}
			img {
				display: block;
				max-width: 236px;
				//@include inc.sizing(margin-bottom, tab, 16px, sp, 6px);
				@include inc.mq(tabs) {
					max-width: 100%;
				}
			}
			figcaption > p {
				@include inc.sizing(font-size, tab, 13px, sp, 13px);
				line-height: 1.5 !important;
				padding: 8px;
			}
		}
	}
	&__box {
		padding: 5%;
		background: inc.$color-back;
		margin-top: 5rem;
	}
	&__detail {
		dl {
			div {
				display: flex;
				justify-content: space-between;
				padding: 1em 0;
				margin-top: -1px;
				border-top: 1px solid inc.$color-line;
				border-bottom: 1px solid inc.$color-line;
				@include inc.sizing(font-size, tab, 16px, sp, 13px);
				dt {
					width: 5em;
					font-weight: inc.$Bold;
					@include inc.mq(tabs) {
						width: 12em;
					}
				}
				dd {
					width: calc(100% - 5em);
					font-weight: inc.$Medium;
					@include inc.mq(tabs) {
						width: calc(100% - 12em);
					}
				}
				&.-block {
					display: block;
					@include inc.mq(tabs) {
						display: flex;
					}
					dt {
						width: 100%;
						// text-align: center;
						margin-bottom: 1em;
						@include inc.mq(tabs) {
							width: 12em;
							// text-align: left;
							margin-bottom: 0;
						}
					}
					dd {
						width: 100%;
						@include inc.mq(tabs) {
							width: calc(100% - 12em);
						}
					}
				}
			}
		}
	}
	&__root {
		ol {
			position: relative;
			counter-reset: li;
			margin: 0;
			padding: 0;
			&:before {
				position: absolute;
				content: "";
				top: 0;
				@include inc.sizing(left, tab, 50px, sp, 26px);
				width: 1px;
				height: 100%;
				background: inc.$color-line;
			}
			li {
				position: relative;
				counter-increment: mycounter;
				@include inc.sizing(font-size, tab, 18px, sp, 14px);
				font-weight: inc.$Bold;
				padding: 1.3em 1.3em 1.3em 3.3em;
				background: inc.$color-back;
				&:not(:last-child) {
					@include inc.sizing(margin-bottom, tab, 14px, sp, 8px);
				}
				&:before {
					position: absolute;
					content: counter(mycounter, decimal-leading-zero);
					left: 1.3em;
					top: 1.3em;
					font-family: inc.$font-Cochin;
					line-height: 1.75;
				}
			}
		}
	}

	&__coursemap {
		background: url("../img/common/bg.jpg");
		padding: 5%;
		h2 {
			text-align: center;
		}

	}

	&__back {
		text-align: center;
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		@include inc.sizing(padding-top, tab, 96px, sp, 48px);
		@include inc.sizing(padding-bottom, tab, 96px, sp, 48px);
		a {
			font-weight: inc.$Bold;
		}
	}
}







.wp-block-gallery {
	margin: 1.5rem 0 !important;
	img {
		// object-fit: contain !important;
		// aspect-ratio: 4 / 3;
		margin: 0 auto !important;
	}
}
.wp-block-image {
	figcaption {
		background: none !important;
		color: inc.$color-blk !important;
	}
}

