@charset 'UTF-8';
@use "../inc/" as inc;

/*----------
	nav
----------*/
.c-nav {
	ul {
		margin: 0;
		padding: 0;
	}

	&__local {
		position: relative;
		display: flex;
		overflow-x: auto;
		align-items: center;
		@include inc.sizing(padding-left, tab, 28px, sp, 20px);
		@include inc.sizing(margin-bottom, tab, 34px, sp, 20px);
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&:before,
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			z-index: 0;
		}
		&:before {
			@include inc.sizing(left, tab, 8px, sp, 6px);
			@include inc.sizing(width, tab, 12px, sp, 8px);
			@include inc.sizing(height, tab, 96px, sp, 68px);
			background: #A39469;
		}
		&:after {
			@include inc.sizing(top, tab, 5px, sp, 4px);
			@include inc.sizing(width, tab, 28px, sp, 20px);
			@include inc.sizing(height, tab, 86px, sp, 60px);
			background: #2A3454;
		}
		ul {
			// position: absolute;
			// z-index: 1;
			// @include inc.sizing(top, tab, 9px, sp, 6px);
			// @include inc.sizing(left, tab, 28px, sp, 20px);
			flex-shrink: 0;
			background: #F1E8D0;
			border: 4px solid #2A3454;
			border-left: 0;
			@include inc.sizing(padding, tab, 20px, sp, 12px);
			@include inc.sizing(margin-top, tab, 9px, sp, 6px);
			@include inc.sizing(margin-bottom, tab, 9px, sp, 6px);
			@include inc.mq(tabs) {
				width: 100%;
			}
			li {
				display: inline-block;
				@include inc.sizing(font-size, tab, 20px, sp, 14px);
				font-weight: inc.$Bold;
				padding: 0 1em;
				&:not(:last-child) {
					border-right: 1px solid #BCB8AF;
				}
				a {
					opacity: .4;
					&:hover {
						opacity: 1;
					}
					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
	&__anchor {
		@include inc.sizing(margin-bottom, tab, 126px, sp, 58px);
		@include inc.sizing(padding-left, tab, 28px, sp, 20px);
		ul {
			li {
				display: inline-block;
				@include inc.sizing(font-size, tab, 16px, sp, 13px);
				margin-right: 1em;
				margin-bottom: 1em;
				font-weight: inc.$Bold;
				a {
					position: relative;
					padding-right: 1em;
					padding-bottom: .4em;
					vertical-align: middle;
					&:before,
					&:after {
						position: absolute;
						content: "";
					}
					&:before {
						bottom: 0;
						height: 1px;
						width: 100%;
						border-bottom: 1px solid #707070;
					}
					&:after {
						top: .5em;
						right: .1em;
						vertical-align: middle;
						border-color: inc.$color-blk;
						transform: rotate(135deg);
						@include inc.sizing(width, tab, 6px, sp, 4px);
						@include inc.sizing(height, tab, 6px, sp, 4px);
						border-style: solid;
						border-color: inc.$color-blk;
						transform: rotate(45deg);
						border-width: 0 1.5px 1.5px 0;
						@include inc.mq(tabs) {
							border-width: 0 2px 2px 0 0;
						}
					}
				}
			}
		}
	}
	&__footnav {
		position: relative;
		@include inc.sizing(height, tab, 217px, sp, 50px);
		&__prev,
		&__next {
			position: absolute;
			width: 45%;
			@include inc.mq(tabs) {
				width: 38%;
			}
			a {
				position: relative;
				display: inline-block;
				width: 100%;
				// @include inc.sizing(height, tab, 217px, sp, 50px);
				height: 11vw;
				&:before {
					position: absolute;
					display: inline;
					//width: 4em;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					color: rgba(255,255,255,.24);
					// @include inc.sizing(font-size, tab, 217px, sp, 50px);
					font-size: 18vw;
					line-height: .4;
					font-weight: inc.$Bold;
					z-index: -1;
					@include inc.mq(tabs) {
						font-size: 11vw;
						line-height: .7;
					}
				}
			}
			span {
				display: block;
				width: 100%;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				& > i {
					display: inline-block !important;
					position: relative !important;
					@include inc.sizing(font-size, tab, 25px, sp, 14px);
					font-style: normal;
					font-weight: inc.$Bold;
					&:before {
						content: "";
						position: absolute;
						top: .6em;
						width: 6px;
						height: 6px;
						border: 0;
						transform: rotate(45deg);
					}
				}
			}
		}
		&__prev {
			left: 0;
			a:before {
				content: "Prev";
			}
			span i {
				padding-left: .5em;
				&:before {
					left: 0;
					border-bottom: 2px solid inc.$color-main;
					border-left: 2px solid inc.$color-main;
				}
			}
		}
		&__next {
			right: 0;
			a:before {
				content: "Next";
				text-align: right;
			}
			span i {
				padding-right: .5em;
				&:before {
					right: 0;
					border-top: 2px solid inc.$color-main;
					border-right: 2px solid inc.$color-main;
				}
			}
		}
	}
}

body.post-type-archive-character .c-nav__local__main a,
body.term-main .c-nav__local__main a,
body.term-takeda .c-nav__local__takeda a,
body.term-uesugi .c-nav__local__uesugi a,
body.term-co-takeda .c-nav__local__co-takeda a,
body.term-co-uesugi .c-nav__local__co-uesugi a,
body.term-other .c-nav__local__other a
 {
	opacity: 1;
}