@charset 'UTF-8';
@use "../inc/" as inc;
/*
p-vr
-----------------------------------------------------*/
body.page-template-vr {
	overflow-x: hidden;
	.l-wrapper {
		width: 100%;
	}
	.c-herohead,
	.c-section {
		&.p-vr__image,
		&.p-vr__location {
			width: 90%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.p-vr {
	&__lead {
		@include inc.mq(tabs) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__article {
		background: url("../img/common/bg.jpg") repeat center;
		padding: 5%;
		@include inc.sizing(padding-top, tab, 50px, sp, 25px);
		@include inc.sizing(padding-bottom, tab, 66px, sp, 32px);
		margin-right: auto;
		margin-left: auto;
		h2 {
			text-align: center;
		}
		& > p {
			margin-top: 1em;
		}
		&__nishikie {
			@include inc.sizing(padding-top, tab, 100px, sp, 40px);
			@include inc.mq(tabs) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			& > img {
				@include inc.mq(tabs) {
					width: 52%;
				}
			}
			& > div {
				@include inc.mq(tabs) {
					width: 42%;
				}
			}
		}
	}
	&__image {
		@include inc.sizing(font-size, tab, 16px, sp, 13px);
		font-weight: inc.$Bold;
		padding: 1em;
		border: 1px solid inc.$color-blk;
		@include inc.mq(tabs) {
			text-align: center;
			padding: 2.6em;
		}
	}
	&__place {
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		margin-top: -1px;
		padding: 2.5em 6%;
		@include inc.sizing(font-size, tab, 16px, sp, 13px);
		@include inc.mq(tabs) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__img,
		&__txt {
			@include inc.mq(tabs) {
				width: 42%;
			}
		}
		&__img {
			margin-bottom: 1em;
			@include inc.mq(tabs) {
				margin: 0;
			}
		}
		&__txt {
			@include inc.mq(tabs) {
				
			}
			p,
			address {
				font-style: normal;
			}
		}
		&:last-of-type {
			.p-vr__place__txt {
				order: -1;
			}
		}
	}
}
