@charset 'UTF-8';
@use "../inc/" as inc;
/*
p-ar
-----------------------------------------------------*/
body.page-template-ar {
	overflow-x: hidden;
	.c-nav__anchor {
		padding-left: 0 !important;
		margin-top: 3em;
	}
	.l-wrapper {
		width: 100%;
	}
	.c-herohead,
	.c-section:first-of-type,
	.c-section#notice {
		max-width: 1120px;
		width: 90%;
		margin: 0 auto;
	}
}

.p-ar {
	&__article {
		max-width: 1120px;
		width: 90%;
		margin: 0 auto;
		@include inc.sizing(margin-bottom, tab, 122px, sp, 73px);
		@include inc.mq(tabs) {
			display: flex;
			justify-content: space-between;
		}
		img {
			//display: block;
		}
		&__img {
			width: 86%;
			margin: 0 auto 29px;
			@include inc.mq(tabs) {
				width: 44%;
			}
			img {
				@include inc.sizing(padding-right, tab, 5px, sp, 7px);
				@include inc.sizing(padding-left, tab, 5px, sp, 7px);
			}
		}
		&__txt {
			@include inc.mq(tabs) {
				width: 48%;
			}
		}
		&:nth-of-type(odd) {
			.p-ar__article__img {
				order: 2;
			}
			.p-ar__article__txt {
				order: 1;
			}
		}
		&__host {
			width: 67%;
			min-width: 220px;
			max-width: 290px;
			@include inc.sizing(margin-top, tab, 60px, sp, 35px);
			figure {
				figcaption {
					@include inc.sizing(font-size, tab, 14px, sp, 12px);
					font-weight: inc.$Bold;
					margin-top: .8em;
					margin-bottom: 1em;
					span {
						position: relative;
						display: inline-block;
						padding-right: 1.3em;
						&:after {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							width: 1.3em;
							height: 1.3em;
							background: url("../img/common/icn_link.svg") no-repeat 100% .4em;
							@include inc.sizing(background-size, tab, 12px, sp, 11px);
						}
					}
				}
				&:last-of-type {
					margin-bottom: 1em;
				}
			}
		}
		&.-other {
			max-width: 1120px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			@include inc.mq(tabs) {
				flex-wrap: wrap;
			}
			.p-ar__article {
				&__txt {
					width: 90%;
					margin: 0 auto;
					display: flex;
					align-items: flex-start;
					@include inc.mq(tabs) {
						order: -1;
						width: 62.6%;
					}
					& > img {
						@include inc.sizing(width, tab, 56px, sp, 36px);
						@include inc.sizing(margin-right, tab, 70px, sp, 30px);
					}
					& > div {
						width: 100%;
					}
				}
				&__host {
					margin-left: calc(5% + 66px);
					@include inc.mq(tabs) {
						margin-top: 0;
						margin-right: 0;
					}
				}
				&__img {
					width: 100%;
					@include inc.mq(tabs) {
						margin-left: 56px;
					}
					img {
						padding: 0;
					}
				}
			}
		}
		&:last-of-type {
			@include inc.mq(tabs) {
				background: url("../img/ar/illust02.png") no-repeat;
				background-position: 56px 99%;
				background-size: 62.6%;
			}
			.p-ar__article__img {
				margin-top: 2em;
				@include inc.mq(tabs) {
					display: none;
				}
			}
		}
	}
	&__image {
		max-width: 1120px;
		width: 90%;
		margin: 0 auto;
		@include inc.sizing(font-size, tab, 16px, sp, 13px);
		font-weight: inc.$Bold;
		padding: 1em;
		border: 1px solid inc.$color-blk;
		@include inc.mq(tabs) {
			text-align: center;
			padding: 2.6em;
		}
	}
	&__notice {
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		margin-top: -1px;
		padding: 2.5em 0;
		@include inc.sizing(font-size, tab, 16px, sp, 13px);
		@include inc.mq(tabs) {
			display: flex;
			flex-wrap: wrap;
		}
		p {
			width: 100%;
			font-weight: inc.$Bold;
			margin-bottom: 1em;
		}
		ul {
			width: 100%;
		}
		dl {
			@include inc.mq(tabs) {
				width: 25em;
			}
			&:last-of-type {
				margin-top: 1em;
				@include inc.mq(tabs) {
					margin-top: 0;
				}
			}
		}
		dt {
			font-weight: inc.$Bold;
		}
		li,
		dd {
			position: relative;
			padding-left: 1em;
			margin-bottom: .5em;
			&:before {
				content: "・";
				position: absolute;
				left: 0;
				top: 0;
				width: 1em;
				height: 1em;
			}
			&.-astarisk {
				&:before {
					content: "※";
				}
			}
		}
	}
}
