@charset 'UTF-8';
@use "../inc/" as inc;

/*----------
	c-lst
----------*/
.c-lst {
	li {
		margin-top: -1px;
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		a {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include inc.sizing(padding-top, tab, 53px, sp, 23px);
			@include inc.sizing(padding-bottom, tab, 53px, sp, 23px);
			@include inc.mq(tabs) {
				flex-wrap: nowrap;
				/*align-items: center;*/
			}
			&:hover {
				// background: inc.$color-back;
			}
			span,
			date {
				display: block;
				@include inc.sizing(font-size, tab, 25px, sp, 16px);
				font-family: inc.$font-Cochin;
				font-weight: inc.$Bold;
				&.c-anchor__detail {
					width: 100%;
					text-align: right;
					@include inc.sizing(font-size, tab, 15px, sp, 12px);
					@include inc.mq(tabs) {
						width: auto;
						display: flex;
						align-items: center;
					}
				}
				& > .km,
				& > .hours {
					@include inc.sizing(font-size, tab, 24px, sp, 14px);
					font-family: inc.$font-Vollkorn;
				}
				span {
					font-size: 11px;
				}
				em {
					@include inc.sizing(font-size, tab, 35px, sp, 32px);
					font-family: inc.$font-Cochin;
					margin-right: .2em;
				}
			}
			date {
				width: 100%;
				font-weight: inc.$Bold;
				margin-bottom: 1em;
				@include inc.mq(tabs) {
					width: auto;
				}
			}
			figure {
				width: 65%;
				@include inc.mq(tabs) {
					width: 57.5%;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				img {
					margin-bottom: 1em;
					@include inc.mq(tabs) {
						width: 30%;
						margin-bottom: 0;
					}
				}
				figcaption {
					color: inc.$color-blk;
					@include inc.mq(tabs) {
						width: 68%;
					}
				}
			}
		}
		.c-heading__m {
			margin-bottom: .5em !important;
			align-items: stretch;
		}
	}
	&__txt {
		width: 100%;
		@include inc.mq(tabs) {
			width: 57.5%;
		}
	}
}
