@charset 'UTF-8';
@use "../inc/" as inc;
/*
p-vr
-----------------------------------------------------*/
body.page-template-vr {
	overflow-x: hidden;
	.l-wrapper {
		width: 100%;
	}
	.c-herohead,
	.c-section.p-vr__lead,
	.c-section.p-vr__image,
	.c-section.p-vr__location {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		@include inc.mq(tabs) {
			width: 100%;
		}
	}
}

.p-vr {
	&__lead {
		@include inc.mq(tabs) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		& > p {
			@include inc.mq(tabs) {
				width: 68%;
			}
		}
		& > img {
			width: 40%;
			margin-right: auto;
			margin-left: auto;
			margin-top: 40px;
			@include inc.mq(tabs) {
				width: 19%;
				margin: 0;
			}
		}
	}
	&__article {
		background: url("../img/common/bg.jpg") repeat center;
		padding: 5%;
		@include inc.sizing(padding-top, tab, 50px, sp, 25px);
		@include inc.sizing(padding-bottom, tab, 66px, sp, 32px);
		margin-right: auto;
		margin-left: auto;
		h2 {
			text-align: center;
		}
		& > p {
			margin-top: 1em;
		}
		&__nishikie {
			@include inc.sizing(padding-top, tab, 100px, sp, 40px);
			@include inc.mq(tabs) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			& > img {
				width: 73.8%;
				margin-right: auto;
				margin-left: auto;
				@include inc.mq(tabs) {
					width: 52%;
				}
			}
			& > div {
				@include inc.mq(tabs) {
					width: 42%;
				}
			}
		}
	}
	&__movie {
		article img {
			display: block;
			//max-width: 880px;
			margin: 0 auto;
		}
	}
	&__trip {
		&__txt {
			text-align:right;
			@include inc.sizing(font-size, tab, 16px, sp, 13px);
			margin-bottom: 1em;
		}
		&__img {
			display: flex;
			flex-wrap: wrap;
			gap: 2%;
			img {
				width: 100%;
				margin-bottom: 1.5em;
				@include inc.mq(tabs) {
					width: 49%;
				}
			}
		}
	}
	&__image {
		@include inc.sizing(font-size, tab, 16px, sp, 13px);
		font-weight: inc.$Bold;
		padding: 1em;
		border: 1px solid inc.$color-blk;
		@include inc.mq(tabs) {
			text-align: center;
			padding: 2.6em;
		}
	}
	&__place {
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		margin-top: -1px;
		padding: 2.5em 6%;
		@include inc.sizing(font-size, tab, 16px, sp, 13px);
		@include inc.mq(tabs) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__img,
		&__txt {
			@include inc.mq(tabs) {
				width: 42%;
			}
		}
		&__img {
			margin-bottom: 1em;
			@include inc.mq(tabs) {
				margin: 0;
			}
		}
		&__txt {
			@include inc.mq(tabs) {
				
			}
			p,
			address {
				font-style: normal;
			}
			h3 {
				span {
					position: relative;
					display: inline-block;
					padding-right: 1.3em;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						width: 1.3em;
						height: 1.3em;
						background: url("../img/common/icn_link.svg") no-repeat 100% .4em;
						@include inc.sizing(background-size, tab, 17px, sp, 11px);
					}
				}
			}
		}
		&:last-of-type {
			.p-vr__place__img {
				width: 81%;
				margin-right: auto;
				margin-left: auto;
				@include inc.mq(tabs) {
					width: 29%;
					margin: 0;
				}
			}
			.p-vr__place__txt {
				order: -1;
				@include inc.mq(tabs) {
					width: 58%;
				}
			}
		}
	}
}
