@charset 'UTF-8';
@use "../inc/" as inc;
/*
p-tour
-----------------------------------------------------*/
.p-website {
	&__wrap {
		margin-top: -1px;
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		@include inc.sizing(padding-top, tab, 53px, sp, 23px);
		@include inc.sizing(padding-bottom, tab, 53px, sp, 23px);
		p {
			@include inc.sizing(padding-bottom, tab, 16px, sp, 14px);
		}
		a {
			font-weight: inc.$Bold !important;
			text-decoration: underline !important;
			text-decoration-skip-ink: none !important;
			text-underline-offset: .4em !important;
		}
		img {
			aspect-ratio: 4 / 3;
			object-fit: cover;
		}
	}
	figure {
		img {
			display: block;
			margin-bottom: .5em;
		}
		figcaption {
			@include inc.sizing(padding-bottom, tab, 14px, sp, 11px);
		}
		a figcaption {
			font-weight: inc.$Bold;
			text-decoration: underline;
			text-decoration-skip-ink: none;
			text-underline-offset: .4em;
		}
	}

	&__box {
		@include inc.mq(tabs) {
			display: flex;
			justify-content: space-between;
		}
		&__txt {
			@include inc.mq(tabs) {
				width: 65.8%;
			}
		}
		&__img {
			@include inc.mq(tabs) {
				width: 25.7%;
			}
		}
	}
	&__img {
		width: 53.4%;
		display: flex;
		gap: 2%;
		max-width: 80%;
		@include inc.sizing(padding-bottom, tab, 53px, sp, 23px);
	}
}
