@charset 'UTF-8';
@use "../inc/" as inc;

/*----------
	accordion
----------*/
.c-accordion {
	border-bottom: 1px solid inc.$color-line;
	margin-bottom: 0;
	padding: 0;
	&__item {
		@include inc.sizing(padding-bottom, tab, 25px, sp, 16px);
		dt {
			position: relative;
			cursor: pointer;
			pointer-events: all;
			@include inc.sizing(font-size, tab, 25px, sp, 16px);
			font-weight: inc.$Bold;
			font-style: normal;
			text-align: left;
			border-top: 1px solid inc.$color-line;
			@include inc.sizing(padding-top, tab, 25px, sp, 16px);
			padding-right: 1.5em;
			@include inc.mq(tabs) {
				position: static;
				cursor: default;
				pointer-events: none;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 1.5em;
				width: 2px;
				height: 8px;
				background-color: inc.$color-main;
				@extend %easing;
				@include inc.mq(tabs) {
					display: none;
				}
			}
			&::before {
				transform: rotate(-45deg);
				right: 10px;
			}
			&::after {
				transform: rotate(45deg);
				right: 5px;
			}
		}
		dd {
			display: none;
			cursor: pointer;
			pointer-events: all;
			@extend %easing;
			@include inc.mq(tabs) {
				display: block;
				position: static;
				cursor: auto;
				pointer-events: none;
			}
		}
		&.is-active {
			dt:before {
				transform: rotate(-135deg);
				@extend %easing;
			}
			dt:after {
				transform: rotate(135deg);
				@extend %easing;
			}
		}
	}
}
