@charset 'UTF-8';
@use "../inc/" as inc;

/*
c-single
-----------------------------------------------------*/
.c-single {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	@include inc.sizing(margin-bottom, tab, 162px, sp, 66px);
	&__body,
	&__block,
	&__thumb,
	&__box,
	&__detail,
	&__root,
	&__coursemap {
		// @include inc.sizing(padding-bottom, tab, 96px, sp, 48px);
		@include inc.sizing(margin-bottom, tab, 80px, sp, 40px);
	}
	&__block {
		h2 {
			@include inc.sizing(margin-bottom, tab, 32px, sp, 16px);
		}
		img {
			max-width: 100%;
			@include inc.sizing(margin-top, tab, 32px, sp, 16px);
			@include inc.sizing(margin-bottom, tab, 32px, sp, 16px);
		}
	}
	&__thumb {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem 4%;
		figure {
			@include inc.mq(tabs) {
				width: 48%;
			}
			img {
				display: block;
				max-width: 236px;
				@include inc.sizing(margin-bottom, tab, 16px, sp, 6px);
				@include inc.mq(tabs) {
					max-width: 100%;
				}
			}
			figcaption > p {
				@include inc.sizing(font-size, tab, 16px, sp, 13px);
				line-height: 1.5 !important;
			}
		}
	}
	&__box {
		padding: 5%;
		background: inc.$color-back;
	}
	&__detail {
		dl {
			div {
				display: flex;
				justify-content: space-between;
				padding: 1em 0;
				margin-top: -1px;
				border-top: 1px solid inc.$color-line;
				border-bottom: 1px solid inc.$color-line;
				@include inc.sizing(font-size, tab, 16px, sp, 13px);
				dt {
					width: 5em;
					font-weight: inc.$Bold;
					@include inc.mq(tabs) {
						width: 12em;
					}
				}
				dd {
					width: calc(100% - 5em);
					font-weight: inc.$Medium;
					@include inc.mq(tabs) {
						width: calc(100% - 12em);
					}
				}
			}
		}
	}
	&__root {
		ol {
			position: relative;
			counter-reset: li;
			margin: 0;
			padding: 0;
			&:before {
				position: absolute;
				content: "";
				top: 0;
				@include inc.sizing(left, tab, 50px, sp, 26px);
				width: 1px;
				height: 100%;
				background: inc.$color-line;
			}
			li {
				position: relative;
				counter-increment: mycounter;
				@include inc.sizing(font-size, tab, 18px, sp, 14px);
				font-weight: inc.$Bold;
				padding: 1.3em 1.3em 1.3em 3.3em;
				background: inc.$color-back;
				&:not(:last-child) {
					@include inc.sizing(margin-bottom, tab, 14px, sp, 8px);
				}
				&:before {
					position: absolute;
					content: counter(mycounter, decimal-leading-zero);
					left: 1.3em;
					top: 1.3em;
					font-family: inc.$font-Cochin;
					line-height: 1.75;
				}
			}
		}
	}

	&__coursemap {
		background: url("../img/common/bg.jpg");
		padding: 5%;
		h2 {
			text-align: center;
		}

	}

	&__back {
		text-align: center;
		border-top: 1px solid inc.$color-line;
		border-bottom: 1px solid inc.$color-line;
		@include inc.sizing(padding-top, tab, 96px, sp, 48px);
		@include inc.sizing(padding-bottom, tab, 96px, sp, 48px);
		a {
			font-weight: inc.$Bold;
		}
	}
}
