@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-breadcrumb
-----------------------------------------------------*/

.l-breadcrumb {
	width: 90%;
	margin: 0 auto;
	@include inc.mq(tabs) {
		width: 96%;
	}
	ul {
		margin: 0;
		padding: 0;
		@include inc.sizingRem(font-size, tab, 14px, sp, 13px);
		font-weight: inc.$Medium;
		li {
			display: inline-block;
			a {
				display: block;
				&:after {
					content: ">";
					margin-left: .5em;
				}
			}
		}
	}
}
