@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&family=Vollkorn&family=Cochin&display=swap");

$font-Shippori: 'Shippori Mincho', serif;
$font-Vollkorn: 'Vollkorn', serif;
$font-Cochin: 'Cochin', serif;

$Thin: 100;
$Extralight: 200;
$Ultralight: 200;
$Light: 300;
$Normal: 400;
$Regular: 400;
$Medium: 500;
$Semibold: 600;
$Demibold: 600;
$Bold: 700;
$Extrabold: 800;
$Ultrabold: 800;
$Black: 900;
$Heavy: 900;
$ExtraBlack: 950;

/*
i-setting
-----------------------------------------------------*/

//====================================
//  Viewport
//====================================
// Contentの幅
$content-width: 1120px !default;
// ブレークポイントの設定
$breakpoints: (
	sp: 460px,
	// sp: 375px,
	spl: 540px,
	tabs: 768px,
	// tab: 900px,
	tab: 768px,
	lap: 1025px,
	desk: 1201px,
	vr: 1280px,
	wide: 1568px,
	full: 1700px,

	sp_slide: 1494px,
);

//====================================
//  Color
//====================================

// ベースカラー　背景色
$color-bg: #EBDFBC;

$color-wht: #fff;
$color-blk: #2A3454;
$color-red: #B64B5B;
$color-back: #F1E8D0;

$color-main: #2A3454;
$color-hover: #3C508E;
$color-line: #A39469;
$color-line2: #DACDA8;


//====================================
//  リンクカラー
//====================================
a, img, a img {
	border: none;
	outline: none;
	text-decoration: none;
	color: $color-main;
}

//====================================
//  Font
//====================================
body {
	font-family: $font-Shippori;
	font-weight: $Regular;
	color: $color-blk;
	background-color: $color-bg;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}
// p {
// 	a {
// 		text-decoration: underline;
// 		text-decoration-color: $color-blu;
// 		text-decoration-thickness: 1px;
// 		text-underline-offset: 3px;
// 	}
// }


//====================================
//  Extend
//====================================

%easing {
	transition:all .3s ease;
}

a {
	@extend %easing;
	&:hover {
		color: #3C508E;
	}
	// &[target="_blank"] {
	// 	padding-right: 1.3em;
	// 	background: url("../img/common/icn_link.svg") no-repeat 100% .4em;
	// }
}



.slick-slider {
	-ms-touch-action: auto;
	touch-action: auto;
}
