@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-footer
-----------------------------------------------------*/
.l-footer {
	border-top: 1px solid inc.$color-line;
	position: relative;
	z-index: -1;
	overflow: hidden;
	@include inc.sizingRem(padding-top, tab, 90px, sp, 50px);
	@include inc.sizingRem(padding-bottom, tab, 90px, sp, 50px);
	@include inc.sizingRem(margin-bottom, tab, 160px, sp, 200px);
	text-align: center;
	bottom: 0;
	background-image: url("../img/common/bg_btm.jpg");
	background-repeat: repeat-x;
	background-size: 1568px 369px;
	background-position: center bottom;
	&:before,
	&:after {
		position: absolute;
		content: "";
		width: 100vw;
		height: 25.25vw;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 0;
	}
	&:before {
		width: 21.3vw;
		height: 22.51vw;
		top: 60vw;
		left: -2.55vw;
		background-image: url("../img/common/takeda.png");
		background-position: center;
		@include inc.mq(tabs) {
			top: auto;
			bottom: 5.86vw;
			left: -2.55vw;
		}
	}
	&:after {
		width: 23.8vw;
		height: 23vw;
		top: 28.8vw;
		right: -4.46vw;
		background-image: url("../img/common/uesugi.png");
		background-position: center;
		@include inc.mq(tabs) {
			top: 2vw;
			right: -4.46vw;
		}
	}
	&__inner {
		//max-width: 650px;
		// width: 100%;
		margin: 0 auto;
		// text-align: center;
	}
	&__nav {
		// width: 19.2em;
		width: 23em;
		margin: 0 auto;
		@include inc.sizingRem(margin-bottom, tab, 150px, sp, 50px);
		@include inc.sizingRem(font-size, tab, 16px, sp, 12px);
		font-weight: inc.$Extrabold;
		@include inc.mq(tabs) {
			width: auto;
			display: inline-block;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			//margin: 0 auto;
			margin-left: 4em;
			padding: 0;
			@include inc.mq(tabs) {
				flex-wrap: nowrap;
				justify-content: center;
				margin-left: 0;
			}
			li {
				margin: 0 0 1.41em;
				//width: 9.6em;
				width: 9em;
				@include inc.mq(tabs) {
					margin: 0 1em;
					width: auto;
				}
				a {
					display: block;
					text-align: left;
				}
			}
		}
	}
	&__logo {
		width: 49.33%;
		margin: 0 auto;
		@include inc.sizingRem(margin-bottom, tab, 98px, sp, 40px);
		@include inc.mq(tabs) {
			width: 15.7%;
		}
		a,
		img {
			display: block;
			width: 100%;
		}
	}
	&__nagano {
		@include inc.sizingRem(margin-bottom, tab, 34px, sp, 24px);
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			@include inc.sizingRem(font-size, tab, 27px, sp, 17px);
			img {
				@include inc.sizingRem(width, tab, 42px, sp, 29px);
			}
			span {
				align-items: center;
				margin-left: .3em;
				font-weight: inc.$Extrabold;
			}
		}
	}
	address {
		@include inc.sizingRem(margin-bottom, tab, 50px, sp, 30px);
		@include inc.sizingRem(font-size, tab, 14px, sp, 10px);
		line-height: 1.85;
		font-weight: inc.$Medium;
		font-style: normal;
		color: inc.$color-main;
	}
	&__naganonav {
		@include inc.sizingRem(margin-bottom, tab, 30px, sp, 20px);
		ul {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			padding: 0;
			li {
				margin: 0 1em;
				a {
					@include inc.sizingRem(font-size, tab, 11px, sp, 10px);
					font-weight: inc.$Medium;
				}
			}
		}
	}
	small {
		@include inc.sizingRem(font-size, tab, 12px, sp, 9px);
	}
	&__chat {
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 53px;
		height: 100px;
		z-index: 90;
		a {
			display: block;
			text-align: center;
			color: inc.$color-wht;
			font-weight: inc.$Bold;
			span {
				position: relative;
				display: block;
				background: inc.$color-main;
				padding: .3em;
				border-radius: 3px 3px 3px 0;
				@include inc.sizingRem(font-size, tab, 10px, sp, 10px);
				line-height: 1;
				&:after {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					top: 100%;
					left: 0;
					border-top: 4px solid inc.$color-main;
					border-left: 4px solid inc.$color-main;
					border-right: 4px solid transparent;
					border-bottom: 4px solid transparent;
					// background: inc.$color-red;
				}
			}
			img {
				display: block;
				margin: 10px auto 0;
			}
		}
	}
}

body.home .l-footer__chat {
	// アニメーション
	opacity: 0;
	animation-name: header-fadeIn;
	animation-delay: 6s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	/* フェードインアニメーション */
	@keyframes header-fadeIn {
		0% {
		}
		100% {
			opacity: 1;
		}
	}
}

